body {
	background-color: DodgerBlue;
	font-family: 'Roboto', sans-serif;
}

.logowrapper {
	display:block;
	text-align: center;
	margin:auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.signupwrapper {
	display:block;
	width:400px;
	height:auto;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: white;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	text-align: center;
	color: black;
	font-size: xx-large;
	font-weight: bold;
	border-radius: 5px;
	padding-top: 40px;
	padding-bottom: 30px;
}

.alreadyjoinedwrapper {
	display:block;
	text-align: center;
	color: white;
	font-size: large;
}

.alreadyjoinedwrapper a{
	color:white;
}

fieldset {
	border-style: none;
	padding:15px;
	width:320px;
}


.submitbutton > input{
	width: 320px;
	height: 55px;
	background-color: LimeGreen;
	color: white;
	font-size: large;
	font-weight: bold;
}

.forgotpassword{

	color: Grey;
	font-size: small;
	text-decoration: underline; 
	margin: 0px;
}

.forgotpassword a{
	color: Grey;
}

fieldset > input {
	width: 320px;
	height: 55px;
	font-size: large;
	border-color: rgba(0,0,0,0.1);
	border-width: 2px;
	border-style: solid;
}

legend {
	font-size: large;
	font-weight: bold;
	text-align: left;
	padding:15px;
}

