nav {
	position: relative;	
	background-color: grey;		
	font-size: 0;
	display: inline-block;
	height: 150px;
	width: 100%;
	padding-left: 60px;
	padding-right: 60px;
	text-align: left;
}

nav img{

    border-radius: 50%;
    top: 10px;
    max-height: 120px;
	position: absolute;
	left: 20px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	
}

nav li{
	position: relative;
	display: inline-block;
	font-size: 20px;
	top: 60px;
	left: 75px;
}

a::after {
	content: "|";
}

main img{
	height: 100%;
	width: 100%;
}


